        # Byte-compiled / optimized / DLL files
        __pycache__/
        *.pyc
        *.pyd
        *.pyo

        # Virtual environment
        venv/
        .venv/

        # IDE specific files
        .idea/
        .vscode/

        # Logs and temporary files
        *.log
        *.tmp
